@charset "utf-8";
article.profile {
	width: 105%;
	margin: 0 auto;
	padding-left: 4px;
	border-left: solid 2px rgba(58,0,2,1.00);
	border-bottom: solid 10px rgba(58,0,2,1.00);
	color: rgba(255,255,255,1.00);
	background-color: #000000;
	background-repeat: repeat;
	border-top-left-radius: 17px;
	border-bottom-right-radius: 31px;
	padding-right: 4px;
	position: relative;
	left: 0%;
	max-width: 767px;
	right: 0%;
}

body {
	background-image: url(images/NGC3372_home.jpg);
	background-attachment: fixed;
	background-size: auto;
}
